@media (max-width: 375px){
	p, 
	span.name, 
	span.pronoun, 
	span.pronoun2, 
	span.pronoun3 {
		font-size: 1.6rem;
		line-height: 1.8rem;
	}
	.cloud4{
		font-size: 50px;
	}
	header .headerInfo{
		h1{
			font-size: 3rem;
			line-height: 3rem;
		}

		h3{
			font-size: 1.5rem;
			line-height: 2rem;
		}

		h4{
			font-size: 1.2rem;
			line-height: 2rem;
		}
	}

	.formContainer{
		width: 85%;

		input[type=text]{
			font-size: 1.3rem;
		}

		input[type=checkbox]{
			display: block
		}

		input[type=submit]{
			font-size: 2rem;
		}
	}

	.storyText .leftText{
		margin:0 auto;
		width: 85%;
	}

	.slide2 .rightText, 
	.textContainer5, 
	.slide7 .textContainer7 {
		width: 85%;
		position: absolute;
		top: 70px;
		margin:0 auto;
	}



}