@media (max-width: 375px){
	p, 
	span.name, 
	span.pronoun, 
	span.pronoun2, 
	span.pronoun3 {
		font-size: 1.3rem;
		line-height: 1.5rem;
	}
	.cloud4{
		font-size: 50px;
	}
	header .headerInfo{

		margin: 5% auto 0;
		h1{
			font-size: 3rem;
			line-height: 3rem;
		}

		h3{
			font-size: 1.5rem;
			line-height: 2rem;
		}

		h4{
			font-size: 1.2rem;
			line-height: 2rem;
		}
	}

	.formContainer{
		width: 85%;

		.nameContainer{
			input[type=text]{
				font-size: 1rem;
			}
		}

		input[type=checkbox]{
			display: block
		}

		input[type=submit]{
			font-size: 2rem;
		}
	}

	.storyText .leftText{
		margin:0 auto;
		width: 85%;
	}

	.slide2 .rightText, 
	.textContainer5, 
	.slide7 .textContainer7,
	.textContainer, 
	.textContainer11{
		width: 85%;
		position: absolute;
		top: 70px;
		margin:0 auto;
	}

	.frogContainer{
		position: absolute;
		bottom: 175px;
		right: 0;
	}

	.button .next{
		font-size: 2rem;
		
	}

	.slide13 .textContainer13,
	.slide10 .textContainer10,
	.slide4 .frogText{
		margin:0;
		width: 85%;
	}

	.image11{
		padding-top: 15%;
	}

	.slide13 h3{
		font-size: 2rem;
		line-height: 2rem;
	}



}

@media (max-width: 487px){
		p, 
	span.name, 
	span.pronoun, 
	span.pronoun2, 
	span.pronoun3 {
		font-size: 1.9rem;
		line-height: 1.9rem;
	}

	h3{
		font-size: 2rem;
	}
	.enterName{
		font-size: 1.5rem;
	}

	.textContainer{
		width:85%;
	}
}

@media (max-width: 695px){
	p{
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
	header{

		.formContainer{
		width: 100%;

		input[type=text]{
			font-size: 1.5rem;
		}
	}

		.headerInfo h1{
			font-size: 4rem;
		}
	} 

	h3{
		font-size: 2rem;
	}

	.textContainer, 
	.slide4 .frogText{
		width: 85%;
	}

	.slide4 .frogContainer{
		position: absolute;

		.frogButton{
			left: 55%;
			top: 50%;
		}
	}

}

