@import 'setup';
@import 'homepage';
@import 'keyframes';
@import 'buttons';

$headerFont:'Love Ya Like A Sister', cursive;
$paraFont: 'Pangolin', cursive;

$primaryColour: #7CAEF9;
$secondaryColour: rgb(18, 39, 57);
$tertiaryColour: #E8E9F3;
$primaryHighlight: #F2FF49;
$secondaryHighlight: lightgreen;
// Start of title page styling
header{
	height: 100vh;
	background-attachment:static;
	
		
	.headerInfo{

		margin: 8% auto 0;
			h1{
				font-family: $headerFont;
				text-align:center;
				line-height: 4rem;
				font-size: 5rem;
				color: $secondaryColour;
			}

			h3, h4{
				font-family: $paraFont;
				text-align:center;
				color: $secondaryColour;
				font-size: 2rem;
				line-height:4rem;
			}
	}

}

.formContainer{
	margin:5% auto;
	width: 70%;
	text-align: center;

	
	fieldset, legend, label{
		border:none;
		margin:2% auto;
		font-family: $headerFont;
		color: $secondaryColour;
	}

	legend{
		margin: 3% auto;
		font-size: 1.8rem;
	}

	.check{
		font-size: 1.5rem;
	}

	input[type=checkbox]{
		opacity:0;
	}

	input[type=checkbox]:checked + label{
		border: 2px solid $secondaryColour;
		padding: 1%;
	}


	.nameLabel{
		
		padding: 2%;
		font-size: 2rem;
	}

	input[type=text]{
		font-size: 2rem;
		font-family: $paraFont;
		border-radius: 20px;
		text-align: center;
	}

	.nameContainer{
		background: $secondaryHighlight;
		padding:2%;
		border-radius: 20px;
		border: 2px solid $secondaryColour;
	}

	
	.submit{
		padding:3%;
		font-family: $paraFont;
		background: $primaryHighlight;
		box-shadow: 3px 3px $secondaryHighlight;
		border:none;
		border-radius: 10px;
		font-size: 2.5rem;
	}
}
// End of title page styling

// Start of styling for dynamic inputs
.name{
	font-size: 1.8rem;
	text-transform: capitalize;
}

span{
	font-size:2rem;
}
	
// Start of slide 1 styles

.slide1 {
	height: 100vh;
	background-image: url(assets/tree.png);
	background-repeat: no-repeat;
	background-position: revert;
	padding-top: 5%;


		.leftText{
		border-right: 2px solid $secondaryColour;
		width: 60%;
		font-family: $paraFont;
		font-size: 2rem;
		line-height:2rem;
		background: $secondaryHighlight;
		padding: 3%;
		border-radius: 30px;
		box-shadow: 2px 2px 2px 2px #32526D;
		margin: 10% 0 0 40%;
		}

		
}

// Start of slide 2 styles
.slide2{
	height: 100vh;
	font-family: $paraFont;
	position: relative;

		.rightText{
			box-shadow: 2px 2px 2px 2px #32526D;
			width: 100%;
			font-family: $paraFont;
			font-size: 2rem;
			line-height: 2rem;
			background: lightgreen;
			padding: 8%;
			border-radius: 30px;
			}

}
// Start of slide 3 styles (repeated 'bugga' slide)
.bugga{
	height: 100vh;
	font-family: $paraFont;
	font-size: 3rem;
	line-height: 3rem;
	position:relative;

	span{
		font-size: 3rem;
	}
	h3{
		padding: 8% 0;
	}

	.bugContainer{
	width: 50%;
	position: relative;

		.dragon, 
		.bug{
			width: 100%;
			position: absolute;
			right: 450px;
			top: 100px;	
			z-index: -1;	

		}
	}

}
// Start of slide 4 styles
.slide4{
	height: 100vh;
	font-family: $paraFont;
	font-size: 2rem;
	line-height: 1.6rem;
	position:relative;

		.frogButton{
		position: absolute;
		top: 63%;
		left: 35%;
		z-index: 2;
		}

	.frogContainer{
		text-align: right;
		position: absolute;
		right:0;
		z-index: -2;

	
			img{
			width: 100%;
			position: relative;
			}
		

		

	
	}
	.frogText{
		width: 60%;
		padding: 3%;
		border-radius: 30px;
		background: $secondaryHighlight;
		margin-top: 30%;
		position: relative;
		box-shadow: 2px 2px 2px 2px #32526D;

	}
}
// Start of slide 5 styles
.slide5{
	height: 100vh;
	font-family: $paraFont;
	font-size: 2rem;
	line-height: 2.2rem;
	position: relative;

	.textContainer5{
		width:90%;
		background: $secondaryHighlight;
		padding: 3%;
		border-radius: 30px;
		box-shadow: 2px 2px 2px 2px #32526D;
		top: 10%;
	}
}

.slide7{
	.textContainer7{
			width: 100%;
			font-family: $paraFont;
			font-size: 2rem;
			line-height: 2rem;
			background: lightgreen;
			padding: 8%;
			border-radius: 30px;
			box-shadow: 2px 2px 2px 2px #32526D;
	}
}

.slide10{
	background-image: url(assets/tree.png);
	background-repeat: no-repeat;
	background-position-x: right;

	.textContainer10{
			width: 60%;
			font-family: $paraFont;
			font-size: 2rem;
			line-height: 2rem;
			background: lightgreen;
			padding: 2%;
			border-radius: 30px;
			box-shadow: 2px 2px 2px 2px #32526D;
			position: absolute;
			top: 15%;

	}
}

.slide11{

	.image11{
		width:40%;

		img{
			width:100%;
		}
	}

	.textContainer11{
		width: 60%;
			font-family: $paraFont;
			font-size: 2rem;
			line-height: 2rem;
			background: lightgreen;
			padding: 2%;
			border-radius: 30px;
			box-shadow: 2px 2px 2px 2px #32526D;
			position: absolute;
			top: 25%;
			left:25%;
	}
	
}

.slide13{
	background-image: url(assets/tree.png);
	background-repeat: no-repeat;
	background-position-x: right;


}

.textContainer14{
	h4{
		font-size: 5rem;
		text-align: center;
		padding-top: 250px;
	}
}

@import 'mq';
