article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-size: 125%;
  line-height: 120%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1faff), color-stop(#5aecff), to(#03a2ce));
  background-image: linear-gradient(to bottom, #e1faff, #5aecff, #03a2ce);
}

body, header, section, aside, article, h1, h2, h3, h4, h5, h6, p, form, input, label, footer, ul, li {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.show {
  display: block;
}

.hide {
  display: none;
}

p {
  font-family: "Pangolin", cursive;
}

a {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  text-decoration: none;
  color: inherit;
}

h3 {
  font-size: 3rem;
  line-height: 3rem;
  font-family: "Pangolin", cursive;
  margin: 3% auto;
}

.slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7, .slide8, .slide9, .slide10, .slide11, .slide12, .slide13, .slide14 {
  position: relative;
  height: 100vh;
}

.textContainer {
  width: 60%;
  font-family: "Pangolin", cursive;
  font-size: 2rem;
  line-height: 2rem;
  background: lightgreen;
  padding: 2%;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 2px 2px #32526D;
          box-shadow: 2px 2px 2px 2px #32526D;
}

@-webkit-keyframes clouds {
  0% {
    top: 0;
  }
  20%,
  40%,
  60%,
  80% {
    margin-left: 100px;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    margin-left: 10px;
  }
  100% {
    top: 100%;
  }
}

@keyframes clouds {
  0% {
    top: 0;
  }
  20%,
  40%,
  60%,
  80% {
    margin-left: 100px;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    margin-left: 10px;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes cloud1 {
  0% {
    top: 0;
    right: 0;
  }
  20% {
    right: 30px;
  }
  40% {
    right: 0;
  }
  60% {
    right: 50px;
  }
  80% {
    right: 0;
  }
  100% {
    top: 100%;
    right: 30px;
  }
}

@keyframes cloud1 {
  0% {
    top: 0;
    right: 0;
  }
  20% {
    right: 30px;
  }
  40% {
    right: 0;
  }
  60% {
    right: 50px;
  }
  80% {
    right: 0;
  }
  100% {
    top: 100%;
    right: 30px;
  }
}

@-webkit-keyframes cloud2 {
  0% {
    top: 0;
    left: 300px;
  }
  30% {
    left: 200px;
  }
  70% {
    left: 200px;
  }
  100% {
    top: 100%;
    left: 200px;
  }
}

@keyframes cloud2 {
  0% {
    top: 0;
    left: 300px;
  }
  30% {
    left: 200px;
  }
  70% {
    left: 200px;
  }
  100% {
    top: 100%;
    left: 200px;
  }
}

@-webkit-keyframes cloud3 {
  0% {
    top: 0;
    left: 90px;
  }
  40% {
    left: 200px;
  }
  50% {
    left: 150px;
  }
  60% {
    left: 100px;
  }
  70% {
    left: 120px;
  }
  80% {
    left: 150px;
  }
  100% {
    top: 100%;
    left: 90px;
  }
}

@keyframes cloud3 {
  0% {
    top: 0;
    left: 90px;
  }
  40% {
    left: 200px;
  }
  50% {
    left: 150px;
  }
  60% {
    left: 100px;
  }
  70% {
    left: 120px;
  }
  80% {
    left: 150px;
  }
  100% {
    top: 100%;
    left: 90px;
  }
}

@-webkit-keyframes cloud4 {
  0% {
    top: 0;
    left: 250px;
    color: white;
  }
  100% {
    top: 100%;
    left: 300px;
    color: white;
    opacity: 50%;
  }
}

@keyframes cloud4 {
  0% {
    top: 0;
    left: 250px;
    color: white;
  }
  100% {
    top: 100%;
    left: 300px;
    color: white;
    opacity: 50%;
  }
}

.cloud1 {
  position: absolute;
  font-size: 50px;
  color: white;
  -webkit-animation-name: cloud1;
          animation-name: cloud1;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  z-index: -2;
  text-shadow: 2px 2px lightslategrey;
}

.cloud2 {
  position: absolute;
  font-size: 30px;
  color: white;
  -webkit-animation-name: cloud2;
          animation-name: cloud2;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  z-index: -2;
  text-shadow: 2px 2px lightslategrey;
}

.cloud3 {
  position: absolute;
  font-size: 70px;
  color: white;
  -webkit-animation-name: cloud3;
          animation-name: cloud3;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  z-index: -2;
  text-shadow: 2px 2px lightslategrey;
}

.cloud4 {
  position: absolute;
  font-size: 100px;
  color: white;
  opacity: 50;
  -webkit-animation-name: cloud4;
          animation-name: cloud4;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  z-index: -2;
  text-shadow: 2px 2px lightslategrey;
}

.button {
  text-align: center;
  position: absolute;
  right: 5%;
  bottom: 10%;
}

.button .next {
  padding: 2%;
  font-family: "Pangolin", cursive;
  background: #F2FF49;
  -webkit-box-shadow: 3px 3px lightgreen;
          box-shadow: 3px 3px lightgreen;
  border: none;
  border-radius: 10px;
  font-size: 2.5rem;
  text-align: center;
  -webkit-box-shadow: 2px 2px 2px 2px #32526D;
          box-shadow: 2px 2px 2px 2px #32526D;
}

.bird {
  position: relative;
  text-align: left;
  padding: 0;
}

.startOver, .end {
  margin: 2% 0;
  position: static;
}

.frogButton {
  padding: 2%;
  font-family: "Pangolin", cursive;
  background: #F2FF49;
  -webkit-box-shadow: 3px 3px lightgreen;
          box-shadow: 3px 3px lightgreen;
  border: none;
  border-radius: 10px;
  font-size: 2.5rem;
  text-align: center;
  -webkit-box-shadow: 2px 2px 2px 2px #32526D;
          box-shadow: 2px 2px 2px 2px #32526D;
}

header {
  height: 100vh;
  background-attachment: static;
}

header .headerInfo {
  margin: 8% auto 0;
}

header .headerInfo h1 {
  font-family: "Love Ya Like A Sister", cursive;
  text-align: center;
  line-height: 4rem;
  font-size: 5rem;
  color: #122739;
}

header .headerInfo h3, header .headerInfo h4 {
  font-family: "Pangolin", cursive;
  text-align: center;
  color: #122739;
  font-size: 2rem;
  line-height: 4rem;
}

.formContainer {
  margin: 5% auto;
  width: 70%;
  text-align: center;
}

.formContainer fieldset, .formContainer legend, .formContainer label {
  border: none;
  margin: 2% auto;
  font-family: "Love Ya Like A Sister", cursive;
  color: #122739;
}

.formContainer legend {
  margin: 3% auto;
  font-size: 1.8rem;
}

.formContainer .check {
  font-size: 1.5rem;
}

.formContainer input[type=checkbox] {
  opacity: 0;
}

.formContainer input[type=checkbox]:checked + label {
  border: 2px solid #122739;
  padding: 1%;
}

.formContainer .nameLabel {
  padding: 2%;
  font-size: 2rem;
}

.formContainer input[type=text] {
  font-size: 2rem;
  font-family: "Pangolin", cursive;
  border-radius: 20px;
  text-align: center;
}

.formContainer .nameContainer {
  background: lightgreen;
  padding: 2%;
  border-radius: 20px;
  border: 2px solid #122739;
}

.formContainer .submit {
  padding: 3%;
  font-family: "Pangolin", cursive;
  background: #F2FF49;
  -webkit-box-shadow: 3px 3px lightgreen;
          box-shadow: 3px 3px lightgreen;
  border: none;
  border-radius: 10px;
  font-size: 2.5rem;
}

.name {
  font-size: 1.8rem;
  text-transform: capitalize;
}

span {
  font-size: 2rem;
}

.slide1 {
  height: 100vh;
  background-image: url(assets/tree.png);
  background-repeat: no-repeat;
  background-position: revert;
}

.slide1 .leftText {
  border-right: 2px solid #122739;
  width: 60%;
  font-family: "Pangolin", cursive;
  font-size: 2rem;
  line-height: 2rem;
  background: lightgreen;
  padding: 3%;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 2px 2px #32526D;
          box-shadow: 2px 2px 2px 2px #32526D;
  margin: 10% 0 0 40%;
}

.slide2 {
  height: 100vh;
  font-family: "Pangolin", cursive;
  position: relative;
}

.slide2 .rightText {
  -webkit-box-shadow: 2px 2px 2px 2px #32526D;
          box-shadow: 2px 2px 2px 2px #32526D;
  width: 100%;
  font-family: "Pangolin", cursive;
  font-size: 2rem;
  line-height: 2rem;
  background: lightgreen;
  padding: 8%;
  border-radius: 30px;
}

.bugga {
  height: 100vh;
  font-family: "Pangolin", cursive;
  font-size: 3rem;
  line-height: 3rem;
  position: relative;
}

.bugga span {
  font-size: 3rem;
}

.bugga h3 {
  padding: 8% 0;
}

.bugga .bugContainer {
  width: 50%;
  position: relative;
}

.bugga .bugContainer .dragon,
.bugga .bugContainer .bug {
  width: 100%;
  position: absolute;
  right: 450px;
  top: 100px;
  z-index: -1;
}

.slide4 {
  height: 100vh;
  font-family: "Pangolin", cursive;
  font-size: 2rem;
  line-height: 1.6rem;
  position: relative;
}

.slide4 .frogButton {
  position: absolute;
  top: 63%;
  left: 35%;
  z-index: 2;
}

.slide4 .frogContainer {
  text-align: right;
  position: absolute;
  right: 0;
  z-index: -2;
}

.slide4 .frogContainer img {
  width: 100%;
  position: relative;
}

.slide4 .frogText {
  width: 60%;
  padding: 3%;
  border-radius: 30px;
  background: lightgreen;
  margin-top: 30%;
  position: relative;
  -webkit-box-shadow: 2px 2px 2px 2px #32526D;
          box-shadow: 2px 2px 2px 2px #32526D;
}

.slide5 {
  height: 100vh;
  font-family: "Pangolin", cursive;
  font-size: 2rem;
  line-height: 2.2rem;
  position: relative;
}

.slide5 .textContainer5 {
  width: 90%;
  background: lightgreen;
  padding: 3%;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 2px 2px #32526D;
          box-shadow: 2px 2px 2px 2px #32526D;
  top: 10%;
}

.slide7 .textContainer7 {
  width: 100%;
  font-family: "Pangolin", cursive;
  font-size: 2rem;
  line-height: 2rem;
  background: lightgreen;
  padding: 8%;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 2px 2px #32526D;
          box-shadow: 2px 2px 2px 2px #32526D;
}

.slide10 {
  background-image: url(assets/tree.png);
  background-repeat: no-repeat;
  background-position-x: right;
}

.slide10 .textContainer10 {
  width: 60%;
  font-family: "Pangolin", cursive;
  font-size: 2rem;
  line-height: 2rem;
  background: lightgreen;
  padding: 2%;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 2px 2px #32526D;
          box-shadow: 2px 2px 2px 2px #32526D;
  position: absolute;
  top: 15%;
}

.slide11 .image11 {
  width: 40%;
}

.slide11 .image11 img {
  width: 100%;
}

.slide11 .textContainer11 {
  width: 60%;
  font-family: "Pangolin", cursive;
  font-size: 2rem;
  line-height: 2rem;
  background: lightgreen;
  padding: 2%;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 2px 2px #32526D;
          box-shadow: 2px 2px 2px 2px #32526D;
  position: absolute;
  top: 25%;
  left: 25%;
}

.slide13 {
  background-image: url(assets/tree.png);
  background-repeat: no-repeat;
  background-position-x: right;
}

.textContainer14 h4 {
  font-size: 5rem;
  text-align: center;
  padding-top: 250px;
}

@media (max-width: 375px) {
  p,
  span.name,
  span.pronoun,
  span.pronoun2,
  span.pronoun3 {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  .cloud4 {
    font-size: 50px;
  }
  header .headerInfo {
    margin: 5% auto 0;
  }
  header .headerInfo h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  header .headerInfo h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  header .headerInfo h4 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .formContainer {
    width: 85%;
  }
  .formContainer .nameContainer input[type=text] {
    font-size: 1rem;
  }
  .formContainer input[type=checkbox] {
    display: block;
  }
  .formContainer input[type=submit] {
    font-size: 2rem;
  }
  .storyText .leftText {
    margin: 0 auto;
    width: 85%;
  }
  .slide2 .rightText,
  .textContainer5,
  .slide7 .textContainer7,
  .textContainer,
  .textContainer11 {
    width: 85%;
    position: absolute;
    top: 70px;
    margin: 0 auto;
  }
  .frogContainer {
    position: absolute;
    bottom: 175px;
    right: 0;
  }
  .button .next {
    font-size: 2rem;
  }
  .slide13 .textContainer13,
  .slide10 .textContainer10,
  .slide4 .frogText {
    margin: 0;
    width: 85%;
  }
  .image11 {
    padding-top: 15%;
  }
  .slide13 h3 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media (max-width: 487px) {
  p,
  span.name,
  span.pronoun,
  span.pronoun2,
  span.pronoun3 {
    font-size: 1.9rem;
    line-height: 1.9rem;
  }
  h3 {
    font-size: 2rem;
  }
  .enterName {
    font-size: 1.5rem;
  }
  .textContainer {
    width: 85%;
  }
}

@media (max-width: 695px) {
  p {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  header .formContainer {
    width: 100%;
  }
  header .formContainer input[type=text] {
    font-size: 1.5rem;
  }
  header .headerInfo h1 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2rem;
  }
  .textContainer,
  .slide4 .frogText {
    width: 85%;
  }
  .slide4 .frogContainer {
    position: absolute;
  }
  .slide4 .frogContainer .frogButton {
    left: 55%;
    top: 50%;
  }
}
