article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-size: 125%;
  line-height: 120%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1faff), color-stop(#5aecff), to(#03a2ce));
  background-image: linear-gradient(to bottom, #e1faff, #5aecff, #03a2ce);
}

body, header, section, aside, article, h1, h2, h3, h4, h5, h6, p, form, input, label, footer, ul, li {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

@-webkit-keyframes clouds {
  0% {
    top: 0;
  }
  20%,
  40%,
  60%,
  80% {
    margin-left: 100px;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    margin-left: 10px;
  }
  100% {
    top: 100%;
  }
}

@keyframes clouds {
  0% {
    top: 0;
  }
  20%,
  40%,
  60%,
  80% {
    margin-left: 100px;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    margin-left: 10px;
  }
  100% {
    top: 100%;
  }
}

header {
  height: 100vh;
  background-attachment: static;
}

header .headerImages {
  color: white;
  font-size: 4rem;
  padding: 0 auto;
  text-align: center;
  text-shadow: 2px 2px #7CAEF9;
}

header .headerImages i {
  -webkit-animation: clouds 10s linear infinite;
          animation: clouds 10s linear infinite;
}

header .headerInfo {
  margin: 15% auto 0;
}

header .headerInfo h1 {
  font-family: "Luckiest Guy", cursive;
  text-align: center;
  line-height: 1.6rem;
  font-size: 2.5rem;
  color: #32526D;
}

header .headerInfo h3, header .headerInfo h4 {
  font-family: "Schoolbell", cursive;
  text-align: center;
  color: #32526D;
}

.formContainer {
  margin: 5% auto;
  width: 70%;
  text-align: center;
}

.formContainer fieldset, .formContainer legend, .formContainer label {
  border: none;
  margin: 2% auto;
  font-family: "Luckiest Guy", cursive;
  color: #32526D;
}

.formContainer .nameLabel {
  display: block;
}

.formContainer .submit {
  padding: 3%;
  font-family: "Schoolbell", cursive;
  background: #F2FF49;
  -webkit-box-shadow: 3px 3px #52AA8A;
          box-shadow: 3px 3px #52AA8A;
  border: none;
  border-radius: 10px;
  font-size: 2.5rem;
}

#slide1 {
  height: 100vh;
}

#slide1 .leftText, #slide1 .rightText {
  width: 50%;
  font-family: "Schoolbell", cursive;
}

#slide1 button {
  padding: 2%;
  font-family: "Schoolbell", cursive;
  background: #F2FF49;
  -webkit-box-shadow: 3px 3px #52AA8A;
          box-shadow: 3px 3px #52AA8A;
  border: none;
  border-radius: 10px;
  font-size: 2.5rem;
}
